# --------------------------------------------
# LOG FILES
# --------------------------------------------
*.log

# --------------------------------------------
# BYTE-CODE / CACHE
# --------------------------------------------
__pycache__/
*.pyc
*.pyo
*.pyd

# --------------------------------------------
# DISTRIBUTION / BUILD
# --------------------------------------------
dist/
build/
*.egg-info/

# --------------------------------------------
# IDE / EDITOR CONFIGURATION
# --------------------------------------------
.vscode/
.idea/
*.swp
*.swo
venv/
.venv/
env/
.env
*.spec
.DS_Store